/* @font-face {font-family: FranklinGothic; src: url(/fonts/framd.ttf) format("truetype")} */
body {background-color:#f8f8f8}
a {color:dodgerblue; font-size: 18px; font-weight: bold; text-decoration:none}
ul {list-style-type: none}
.product_description_headers {text-decoration-color: black; font-size: 18px; font-weight: 400; background-color: #eaeaea}
#product_short_description {color: #707070; font-size: 14px; font-style: italic; line-height: 16px}
#product_description {color: #484343; font-size: 16px; font-weight: 400; line-height: 24px; text-align: left}
#product_specification_list {list-style-type:circle; font-family: monospace}
.contacts_body_inputs {width:500px;color: chocolate; font-size: 16px; font-family: sans-serif}
#contacts_body_comment {width: 500px; height: 100px;color:darkcyan; font-size: 18px; font-family: sans-serif}
#product_image_on_page {border: 2px solid darkcyan}
